<a href="https://colab.research.google.com/github/nitinyadav2203/Assignment/blob/main/Map_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Name: NITIN YADAV
* Enrollment: 12019002001030

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
sp=pd.read_csv("/content/drive/MyDrive/directory.csv - directory.csv.csv")

In [3]:
sp.head()

       Brand  Store Number  ... Longitude Latitude
0  Starbucks  47370-257954  ...      1.53    42.51
1  Starbucks  22331-212325  ...     55.47    25.42
2  Starbucks  47089-256771  ...     55.47    25.39
3  Starbucks  22126-218024  ...     54.38    24.48
4  Starbucks  17127-178586  ...     54.54    24.51

[5 rows x 13 columns]

**Q1. How many brands are available in the data?**

In [4]:
sp['Brand'].value_counts()

Starbucks                25249
Teavana                    348
Evolution Fresh              2
Coffee House Holdings        1
Name: Brand, dtype: int64

* There are 4 Brands available in Data.

**Q2. Which country does the &#39;Coffee House Holdings&#39; brand use?**

In [5]:
a=sp.loc[(sp['Brand']=='Coffee House Holdings')]['Country']
a

25122    US
Name: Country, dtype: object

**Q3. Which country does the Tevana brand use?**

In [6]:
b=sp.loc[(sp['Brand']=='Teavana')]['Country'].unique()
b

array(['CA', 'PR', 'US'], dtype=object)

**Q4. Which country does &#39;Starbucks&#39; brand use?**

In [7]:
c=sp.loc[(sp['Brand']=='Starbucks')]['Country'].unique()
c

array(['AD', 'AE', 'AR', 'AT', 'AU', 'AW', 'AZ', 'BE', 'BG', 'BH', 'BN',
       'BO', 'BR', 'BS', 'CA', 'CH', 'CL', 'CN', 'CO', 'CR', 'CW', 'CY',
       'CZ', 'DE', 'DK', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'HU',
       'ID', 'IE', 'IN', 'JO', 'JP', 'KH', 'KR', 'KW', 'KZ', 'LB', 'LU',
       'MA', 'MC', 'MX', 'MY', 'NL', 'NO', 'NZ', 'OM', 'PA', 'PE', 'PH',
       'PL', 'PR', 'PT', 'QA', 'RO', 'RU', 'SA', 'SE', 'SG', 'SK', 'SV',
       'TH', 'TR', 'TT', 'TW', 'US', 'VN', 'ZA'], dtype=object)

**Q5. How many ownerships are available in the data?**

In [8]:
sp['Ownership Type'].value_counts()

Company Owned    11932
Licensed          9375
Joint Venture     3976
Franchise          317
Name: Ownership Type, dtype: int64

* These are 4 Ownerships.

**Q6. Which country has Franchise ownership?**

In [9]:
d=sp.loc[(sp['Ownership Type']=='Franchise')]['Country'].unique()
d

array(['FR', 'GB'], dtype=object)

**Q7. Which country has Joint Venture ownership?**

In [10]:
e=sp.loc[(sp['Ownership Type']=='Joint Venture')]['Country'].unique()
e

array(['AR', 'CN', 'CZ', 'HU', 'IN', 'JP', 'KR', 'MY', 'PL', 'RU', 'TW'],
      dtype=object)

**Q8. Which country has Licensed ownership?**

In [11]:
f=sp.loc[(sp['Ownership Type']=='Licensed')]['Country'].unique()
f

array(['AD', 'AE', 'AR', 'AT', 'AU', 'AW', 'AZ', 'BE', 'BG', 'BH', 'BN',
       'BO', 'BS', 'CA', 'CH', 'CL', 'CN', 'CO', 'CR', 'CW', 'CY', 'DE',
       'DK', 'EG', 'ES', 'FI', 'FR', 'GB', 'GR', 'GT', 'ID', 'IE', 'JO',
       'JP', 'KH', 'KW', 'KZ', 'LB', 'LU', 'MA', 'MC', 'MX', 'MY', 'NL',
       'NO', 'NZ', 'OM', 'PA', 'PE', 'PH', 'PR', 'PT', 'QA', 'RO', 'RU',
       'SA', 'SE', 'SK', 'SV', 'TR', 'TT', 'US', 'VN', 'ZA'], dtype=object)

**Q9. Which country has Company Owned ownership?**

In [12]:
g=sp.loc[(sp['Ownership Type']=='Company Owned')]['Country'].unique()
g

array(['AT', 'BR', 'CA', 'CH', 'CN', 'DE', 'FR', 'GB', 'JP', 'NL', 'PR',
       'SG', 'TH', 'US'], dtype=object)

**Q10.How many cities are Starbucks stores available?**

In [13]:
h=sp.loc[(sp['Brand']=='Starbucks')]['City'].nunique()
h

5401

**Q11. How many states or province are Starbucks stores available?**

In [14]:
i=sp.loc[(sp['Brand']=='Starbucks')]['State/Province'].unique()
i

array(['7', 'AJ', 'AZ', 'DU', 'FU', 'RK', 'SH', 'UQ', 'B', 'C', 'M', 'S',
       'X', '3', '5', '9', 'NSW', 'QLD', 'VIC', 'AW', 'BA', 'SAB', 'BE',
       'VAN', 'VBR', 'VLG', 'WAL', '2', '23', '13', '14', '15', 'BM',
       'TU', 'RJ', 'SP', 'BI', 'NS', 'AB', 'BC', 'MB', 'NB', 'NL', 'ON',
       'PE', 'QC', 'SK', 'YT', 'AG', 'BS', 'FR', 'GE', 'LU', 'SG', 'VD',
       'ZG', 'ZH', 'LI', 'RM', 'VS', '11', '12', '21', '22', '31', '32',
       '33', '34', '35', '36', '37', '41', '42', '43', '44', '45', '46',
       '50', '51', '52', '53', '61', '62', '63', '64', '91', '92', 'DC',
       'A', 'SJ', 'CW', '1', 'JM', 'MO', 'PR', 'BB', 'BW', 'BY', 'HB',
       'HE', 'HH', 'NI', 'NW', 'RP', 'SL', 'SN', 'TH', '81', '83', '84',
       'DK', 'ALX', 'JS', 'AN', 'CL', 'CT', 'IB', 'MA', 'MD', 'MU', 'SS',
       'Z', 'ZAB', '18', 'ES', 'D', 'F', 'J', 'K', 'N', 'O', 'R', 'U',
       'V', 'ENG', 'NIR', 'SCT', 'WLS', 'A1', 'L', 'GU', 'BU', 'BT', 'JB',
       'JI', 'JK', 'JT', 'JW', 'KA', 'KI', 'NU', 'RI', 'SM', 'SU', 'YO',
       'AP', 'DL', 'HR', 'MH', 'TN', 'UP', 'AM', 'IR', '4', '6', '8',
       '10', '16', '17', '19', '20', '24', '25', '26', '27', '28', '29',
       '30', '38', '39', '40', '47', '48', '49', 'AH', 'FA', 'HA', 'JA',
       'KU', 'ALA', 'AST', 'MC', 'AGU', 'BCN', 'BCS', 'CAM', 'CHH', 'CHP',
       'COA', 'COL', 'DIF', 'DUR', 'GRO', 'GUA', 'HID', 'JAL', 'MIC',
       'MOR', 'MX', 'NAY', 'NLE', 'OAX', 'PUE', 'QUE', 'ROO', 'SIN',
       'SLP', 'SON', 'TAB', 'TAM', 'VER', 'YUC', 'ZAC', 'GR', 'NH', 'OV',
       'UT', 'ARE', 'CAJ', 'CUS', 'ICA', 'JUN', 'LAL', 'LAM', 'LIM',
       'PIU', '0', 'PH', 'DS', 'LD', 'MZ', 'PM', 'WP', 'ZP', 'DA', 'CJ',
       'DJ', 'IS', 'TM', 'KDA', 'MOS', 'MOW', 'ROS', 'SAM', 'SPE', 'SVE',
       'TYU', 'YAR', 'BL', 'SA', '57', '60', '65', '70', '73', '74', '77',
       '80', '90', '54', '55', 'CHA', 'POS', 'SFO', 'CYI', 'CYQ', 'HSQ',
       'HSZ', 'HUA', 'ILA', 'KEE', 'KHH', 'MIA', 'NAN', 'PEN', 'PIF',
       'TAO', 'TNN', 'TNQ', 'TPE', 'TPQ', 'TTT', 'TXG', 'TXQ', 'YUN',
       'AK', 'AL', 'AR', 'CA', 'CO', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID',
       'IL', 'IN', 'KS', 'KY', 'LA', 'ME', 'MI', 'MN', 'MS', 'MT', 'NC',
       'ND', 'NE', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'SC',
       'SD', 'TX', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'HN', 'GT'],
      dtype=object)

**Q13. Top 10 large number of Stores in the country.**

In [15]:
sp['Country'].value_counts().head(10)

US    13608
CN     2734
CA     1468
JP     1237
KR      993
GB      901
MX      579
TW      394
TR      326
PH      298
Name: Country, dtype: int64